<tr>
  <th scope="col">プロフィール画像</th>
  <%= profile_image(@user) %>
</tr>

<tr>
  <th scope="col">ユーザーネーム</th>
  <td><%= @user.name %></td>
</tr>
  
<tr>
  <th scope="col">好きなチーム</th>
  <td><%= @user.like_team %></td>
</tr>
  
<tr>
  <th scope="col">コメント</th>
  <td><%= @user.user_text %></td>
</tr>
  
<% if user_signed_in? && current_user == @user %>
<tr>
  <th scope="col"></th>
  <td><%= link_to 'プロフィールを編集', edit_user_path(@user), class: "btn btn-outline-secondary" %></td>
</tr>
<% end %>