%div.form-wrapper
  %h1.midasi 編集

  = form_for(@user) do |f|
    %div.form-item
      = f.label :name, "名前(必須)"
      = f.text_field :name
    %div.form-item
      = f.label :like_team, "好きなチーム（必須）", class: "form-label mr-2"
      = f.select :like_team, options_for_select(@teams.map{|t|[t["name"], t["id"]]}), class: "form-control"
    %div.button-panel
      = f.submit "編集", class: "button"