<h1><%= @user.name %>のプロフィール</h1>

<% if @user.image? %>
  <%= @user.image %>
<% end %>

<%= @user.like_team %>
<%= @user.user_text %>

<% if user_signed_in? && current_user != @user %>
  <%= link_to 'chatを始める', chat_path(@user.id), class: "btn btn-outline-success" %>
<% end %>

<%= render 'relationships/follow_button', user: @user %> 
<%= render 'relationships/stats' %>

<% @games.each do |game| %>
  <%= render 'games/game', game: game %>
<% end %>