<!--見出し-->
<div class="container">
  <div class="row justify-content-between">
    
    <h1><%= @user.name %>のプロフィール</h1>
    
    <%= render 'user_options' %>
    
  </div>
</div>

<%= render 'relationships/stats' %>
  
<table class="table table-bordered">
  <%= render 'profile' %>
</table>


<h2>投稿一覧</h2>
<%= render 'games/show_all' %>

<div class="container">
  <%= paginate @games %>
</div>