%div.container
  %div.row.d-flex.align-items-center
    %div.mx-2
      %h1 マイページ
    %div.mx-2
      = link_to "編集", edit_user_path(@user), class: "btn btn-outline-secondary" if @user == current_user

%div.container.mt-3
  %div.row
    %div.col-md-9
      %h2.text-center
        = image_tag "https://crests.football-data.org/#{@user.like_team}.svg", size: "50x50"
        の試合
      = render 'games/game_card', { matches: @matches, result: @result}
    %div.col-md-3
      %h2.text-center
        = link_to "投稿一覧", rates_path
      = render 'rates/rate_card', rates: @rates
      %div.d-flex.justify-content-center.mt-2
        = paginate @rates
