<h1>フォロワー</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">名前</th>
        <th scope="col">コメント</th>
        <th scope="col">好きなチーム</th>
      </tr>
    </thead>
    <% @user.followers.each do |user| %>
    <tbody>
      <tr>
        <td>
          <a href="/users/<%= user.id %>">
            <% if user.image? %>
              <%= image_tag user.image.url, :size =>'50x50' %><%= user.name %>
            <% else %>
              <%= user.name %>
            <% end %>
          </a>
        </td>
        <td><%= user.user_text %></td>
        <td><%= user.like_team %></td>
      </tr>
    </tbody>
    <% end %>
  </table>