<!--見出し-->
<div class="container">
  <div class="row justify-content-between">
    <h1><%= @user.name %>のプロフィール</h1>
    
    <div class="d-flex justify-content-end">
      <% if user_signed_in? && current_user != @user %>
        <div class="mr-2 my-2">
          <%= render 'relationships/follow_button', user: @user %> 
        </div>
        <div class="ml-2 my-2">
          <%= link_to 'チャットする', chat_path(@user.id), class: "btn btn-outline-success" %>
        </div>
       <% end %>
    </div>
    
  </div>
</div>
<!--見出し終わり-->

<%= render 'relationships/stats' %>
  
<table class="table table-bordered">
  
  <tr>
    <th scope="col">プロフィール画像</th>
    <% if @user.image? %>
      <td><%= image_tag @user.image.url, :size =>'150x150' %></td>
    <% else %>
      <td><%= image_tag 'default.png', :size =>'150x150' %></td>
    <% end %>  
  </tr>

  <tr>
    <th scope="col">ユーザーネーム</th>
    <td><%= @user.name %></td>
  </tr>
  
  <tr>
    <th scope="col">好きなチーム</th>
    <td><%= @user.like_team %></td>
  </tr>
  
  <tr>
    <th scope="col">コメント</th>
    <td><%= @user.user_text %></td>
  </tr>
  
  <% if user_signed_in? && current_user.id == @user.id %>
  <tr>
    <th scope="col"></th>
    <td><%= link_to 'プロフィールを編集', edit_user_path(@user), class: "btn btn-outline-secondary" %></td>
  </tr>
  <% end %>
  
</table>


<h2>投稿一覧</h2>
  <div class="container">
    <div class="d-flex justify-content-around">
      <div class="row">
        <% @games.each do |game| %>
          <%= render 'games/game', game: game %>
        <% end %>
      </div>
    </div>
  </div>
  
  <%= paginate @games %>