<div class="card text-center m-3" style="width: 18rem;">
  
  <div class="card-body">
    
    <h5 class="card-title"><%= score(game) %></h5>
    
    <p class="card-text">試合日：<%= game.date %></p>
    
    <p class="card-text">投稿者：<%= link_to "#{game.user.name}", user_path(game.user.id), class: "btn btn-link" %></p>
    
    <p class="card-text">評価チーム：<%= game.rate_team %></p>
    
    <p class="card-text">投稿日：<%= game.created_at.strftime('%Y-%m-%d') %></p>
    
    <%= link_to "詳細", game_path(game), class: "btn btn-outline-info" %>
    
  </div>
  
</div>