%div.row.d-flex.align-items-center.justify-content-center
  - matches.each do |m|
    %div.card.border-dark.col-md-6.my-1.mr-1
      %h8
        = link_to result['competition']['name'], euro_games_path(code: result['competition']['code'], year: "", title: "ユーロ2020", stage: m['stage'] , day: "")
      %h8= game_time(m['utcDate'])
      
      %div.card-body
        %div.row.d-flex.align-items-center.justify-content-center
          %div.col-md-5.text-left
            = image_tag "https://crests.football-data.org/#{m["homeTeam"]["id"]}.svg", size: "70x70"
            &emsp;
            = m['score']['fullTime']['homeTeam']
            %br
            = m['homeTeam']['name']
          %div.col-md-5.text-right
            = m['score']['fullTime']['awayTeam']
            &emsp;
            = image_tag "https://crests.football-data.org/#{m["awayTeam"]["id"]}.svg", size: "70x70"
            %br
            = m['awayTeam']['name']
            
  