 <h2>試合情報</h2>
 
 <table class="table table-bordered">
   
  <tr>
    <th scope="row">投稿者</th>
    <td><%= g.user.name %></td>
  </tr>
  
  <tr>
    <th scope="row">試合日</th>
    <td><%= g.date %></td>
  </tr>
  
  <tr>
    <th scope="row">スコア</th>
    <td><%= score(g) %></td>
  </tr>
  
  <tr>
    <th scope="row">感想</th>
    <td><%= g.game_text %></td>
  </tr>
  
  <tr>
    <th scope="row">ハイライト</th>
    <%= youtube(g) %>
  </tr>
  
  </table>