%div.row.d-flex.align-items-center.justify-content-center
  - matches.each do |m|
    %div.card.col-12.col-lg-5.mx-1.my-2
      %p.border-bottom= match_date(m['utcDate'])
      
      %div.row.d-flex.align-items-center
        %div.col-9
          = render 'game_score', {status: m['status'], team: m['homeTeam'], 
                                  ft: m['score']['fullTime']['homeTeam'], p: m['score']['penalties']['homeTeam'] }
                                  
          = render 'game_score', {status: m['status'], team: m['awayTeam'], 
                                  ft: m['score']['fullTime']['awayTeam'], p: m['score']['penalties']['awayTeam'] }
          
        %div.col-3.mb-2
          - if match_finished?(m['status'])
            = link_to "詳細", game_path(m['id']), class: "btn btn-outline-primary" 
          - elsif m['status'] == "IN_PLAY"
            = link_to "#{m["minute"]}'", game_path(m['id']), class: "btn btn-outline-success" 
          - elsif m['status'] == "PAUSED"
            = link_to "HT", game_path(m['id']), class: "btn btn-outline-secondary" 
          - elsif match_scheduled?(m['status'])
            .btn.btn-outline-secondary= match_time(m['utcDate']) 
    