%div.row.justify-content-center
  - matches.each do |m|
    %div.card.col-12.col-lg-5.mx-1.my-2
      %p.text-muted.pt-2.pl-2
        = match_date(m['utcDate'])
        = "・"
        = match_time(m['utcDate'])
        
      %div.row
        = render 'score_info', {team: m['homeTeam'], goals: m['goals']}
        
        %div.col-4.text-center.pt-2.my-3
          - unless match_scheduled?(m['status'])
            %h1
              = m['score']['fullTime']['homeTeam']
              = "-"
              = m['score']['fullTime']['awayTeam']
              
            - if match_finished?(m['status'])
              = link_to "詳細", game_path(m['id']), class: "midasi"
            - elsif m['status'] == "IN_PLAY"
              = link_to "ライブ", game_path(m['id']), class: "danger"
            - elsif m['status'] == "PAUSED"
              = link_to "HT", game_path(m['id']), class: "text-muted"
              

          - else
            %h2 -
            %p= "@#{m['venue']}"

        = render 'score_info', {team: m['awayTeam'], goals: m['goals']}
