%table.table
  %thead.thead-dark
    %tr.text-center
      %th 節
      %th 日付
      %th ホームチーム
      %th スコア
      %th アウェイチーム
      %th
      
  - matches.each do |m|
    %tr.text-center
      %td= m["matchday"]
      %td= m["utcDate"].first(10)
      %td
        = image_tag "https://crests.football-data.org/#{m["homeTeam"]["id"]}.svg", size: "30x30"
        = m['homeTeam']['name']
      %td
        = m['score']['fullTime']['homeTeam']
        = ":"
        = m['score']['fullTime']['awayTeam']
      %td
        = image_tag "https://crests.football-data.org/#{m["awayTeam"]["id"]}.svg", size: "30x30"
        = m['awayTeam']['name']
        
      %td= link_to "詳細", game_path(m["id"]) if m["status"] == "FINISHED"