%div.col-md-5
  %div.text-center
    %h3
      = image_tag "https://crests.football-data.org/#{match["id"]}.svg", size: "50x50"
      = match["name"]
  
  %div.card.border-dark.mb-3
    %div.card-header
      %h3.text-center スタメン
    %div.card-body
      - match["lineup"].each do |s|
        %p
          = s["shirtNumber"] 
          = s["position"]
          = s["name"]
          &nbsp;
          - @match["substitutions"].each do |sub|
            %strong.text-danger= "#{sub["minute"]}' ↓" if s["name"] == sub["playerOut"]["name"]
          
  %div.card.border-dark.mb-3
    %div.card-header
      %h3.text-center ベンチ
    %div.card-body
      - match["bench"].each do |b|
        %p
          = b["shirtNumber"] 
          = b["position"]
          = b["name"]
          &nbsp;
          - @match["substitutions"].each do |sub|
            %strong.text-success= "#{sub["minute"]}' ↑" if b["name"] == sub["playerIn"]["name"]