<div class="nested-fields">
  <div>
  <%= f.select :position, {'GK': 'GK', 'CB': 'CB', 'RB': 'RB', 'LB': 'LB', 'DMF': 'DMF', 'CMF': 'CMF', 'OMF': 'OMF', 'RMF': 'RMF', 'LMF': 'LMF', 'RWG': 'RWG', 'LWG': 'LWG', 'ST': 'ST', 'CF': 'CF' }, { include_blank: '選択してください' } %>
  <%= f.text_field :player_name, :placeholder => "選手名" %>
  <%= f.select :player_rate, {'0': '0', '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10}, { include_blank: '点数'} %>
  <%= f.text_area :player_text, size: "50x5", :placeholder => "選手へのコメント" %>
  </div>
  
  <div class="remove">  
    <%= link_to_remove_association "remove", f, class: "btn btn-outline-danger" %>
  </div>
  
</div>