<div class="nested-fields">
  
  <table class="table table-bordered">
    
    <thead>
      <tr>
        <th scope="col"><%= f.label :position, "*ポジション" %></th>
        <th scope="col"><%= f.label :player_name, "*選手名" %></th>
        <th scope="col"><%= f.label :player_rate, "*点数" %></th>
        <th scope="col"><%= f.label :player_text, "*コメント" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        
        <td>    
          <%= f.select :position, Rate.positions.keys.to_a, {} %>
        </td>
        
        <td>
          <%= f.text_field :player_name, :placeholder => "入力してください" %>
        </td>
        
        <td>
          <%= f.select :player_rate, Rate.player_rates.keys.to_a, {} %>
        </td>
        
        <td>
          <%= f.text_area :player_text, size: "50x2", :placeholder => "最大100文字" %>
        </td>
        
        <td>
          <div class="remove">  
            <%= link_to_remove_association "削除", f, class: "btn btn-outline-danger" %>
          </div>
        </td>
        
      </tr>
    </tbody>
    
  </table>
  
</div>