<div class="nested-fields">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col"><%= f.label :position, "*ポジション" %></th>
        <th scope="col"><%= f.label :player_name, "*選手名" %></th>
        <th scope="col"><%= f.label :player_rate, "*点数" %></th>
        <th scope="col"><%= f.label :player_text, "*コメント" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>    
          <%= f.select :position, {'GK': 'GK', 'CB': 'CB', 'RB': 'RB', 'LB': 'LB', 'DMF': 'DMF', 'CMF': 'CMF', 'OMF': 'OMF', 'RMF': 'RMF', 'LMF': 'LMF', 'RWG': 'RWG', 'LWG': 'LWG', 'ST': 'ST', 'CF': 'CF' }, { include_blank: '選択してください' } %>
        </td>
        <td><%= f.text_field :player_name, :placeholder => "入力してください" %></td>
        <td>
          <%= f.select :player_rate, {'0': '0', '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10}, { include_blank: '点数'} %>
        </td>
        <td><%= f.text_area :player_text, size: "50x2", :placeholder => "最大100文字" %></td>
        <td>
          <div class="remove">  
            <%= link_to_remove_association "remove", f, class: "btn btn-outline-danger" %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>