%div.container.mt-3
  %h1.midasi 今週のピックアップマッチ 
  = render 'games', matches: @matches
 
%div.container 
  %div.row.d-flex.justify-content-center
    %div.col-12     
      %h1.midasi 最新の投稿
      = render 'rates/rate_card', rates: @rates
      .text-center= link_to "投稿一覧へ", rates_path, class: "midasi"
    
    %div.col-12.col-lg-4
      %h1.midasi 選手ランキング
      %table.table
        %thead
          %tr
            %th 順位
            %th 選手
            %th 評価
      
        %tbody
          - @rankings.average(:player_rate).each_with_index do |r, i|
            %tr
              %td= i + 1
              %td.text-left
                = image_tag team_logo(@rankings[i].team_id), size: "30x30"
                = r[0]
              %td= r[1].round(1)
          