%h1 リーグ一覧

%p
= link_to "プレミアリーグ", pl_games_path

%p
= link_to "ラ・リーガ", liga_games_path

%p
= link_to "ブンデスリーガ", bundes_games_path

%p
= link_to "セリエＡ", seriea_games_path

%p
= link_to "リーグ・アン", ligue_games_path

%p
= link_to "チャンピオンズリーグ", cl_games_path

%p
= link_to "ユーロ", euro_games_path