%h1.text-center= "#{competiton_title(params[:code])}・得点ランキング"
%div.container-fluid
  %div.row.d-flex.align-items-center.justify-content-center
    %div.col-xs-12.col-md-10
      %table.table
        %thead
          %tr
            %th 順位
            %th 選手
            %th ゴール数
      
        %tbody
          - @scorers.each_with_index do |s, i|
            %tr
              %td= i + 1
              %td.text-left
                = image_tag team_logo(s['team']['id']), size: "30x30"
                = s['player']['name']
              %td= s['numberOfGoals']