%div.mt-2.text-right
  = link_to '評価する', new_rate_path(game_id: params[:id]), class: "btn btn-outline-primary btn-lg" 

%div.card.border-dark.container.my-3
  %div.row.d-flex.justify-content-between
    %div.col-5.text-left.pt-2
      %h2
        = image_tag team_logo(@match["homeTeam"]["id"]), size: "60x60"
        = score_home(@match)
      %h2.d-none.d-lg-block= @match["homeTeam"]["name"]
      - @match["goals"].each do |g|
        %p= goal_team?(g, @match["homeTeam"]["name"])
      = @match['score']['penalties']['homeTeam'] if penalties?(@match)
      
    %div.col-2.text-center.pt-2 
      %h1 :
      %p.d-none.d-lg-block.text-muted 得点者
      %p.text-muted
        ="PK" if penalties?(@match)
        
    %div.col-5.text-right.pt-2
      %h2
        = score_away(@match)
        = image_tag team_logo(@match["awayTeam"]["id"]), size: "60x60"
      %h2.d-none.d-lg-block= @match["awayTeam"]["name"]
      - @match["goals"].each do |g|
        %p= goal_team?(g, @match["awayTeam"]["name"])
      %p= @match['score']['penalties']['awayTeam'] if penalties?(@match)
      
%div.container.mt-2
  %div.row.d-flex.justify-content-between
    = render 'member_card', match: @match['homeTeam']
    = render 'member_card', match: @match['awayTeam']

= render 'comments/comments', comments: @comments
= render 'comments/form', game: @game

%div.container.mt-3  
  %h2 この試合の投稿
  = render 'rates/rate_card', rates: @game.rates