- unless match_finished?(@match["status"]) && @rate.present?
  %div.mt-2.text-right
    = link_to '評価する', new_player_path(game_id: params[:id]), class: "btn btn-outline-primary btn-lg" 

// PC版
%div.d-none.d-lg-block
  %div.card.border-dark.container.my-3
    %div.row.d-flex.justify-content-between
      %div.col-5.text-left.pt-2
        %h2
          = image_tag "https://crests.football-data.org/#{@match["homeTeam"]["id"]}.svg", size: "60x60"
          = @match["homeTeam"]["name"]
          = score_home(@match)
        - @match["goals"].each do |g|
          %p= goal_team?(g, @match["homeTeam"]["name"])
        = @match['score']['penalties']['homeTeam'] if penalties?(@match)
      %div.col-2.text-center.pt-2 
        %h1 :
        %p.text-muted 得点者
        %p.text-muted
          ="PK" if penalties?(@match)
      %div.col-5.text-right.pt-2
        %h2
          = score_away(@match)
          = @match["awayTeam"]["name"]
          = image_tag "https://crests.football-data.org/#{@match["awayTeam"]["id"]}.svg", size: "60x60"
        - @match["goals"].each do |g|
          %p= goal_team?(g, @match["awayTeam"]["name"])
        %p= @match['score']['penalties']['awayTeam'] if penalties?(@match)



// スマホ・タブレット版   
%div.d-block.d-lg-none
  %div.card.border-dark.my-3
    %div.p-1
      %p.h2
        = image_tag "https://crests.football-data.org/#{@match["homeTeam"]["id"]}.svg", size: "60x60"
        = score_home(@match)
        %p.h5
          = "PENALTY" if penalties?(@match)
          = @match['score']['penalties']['homeTeam'] if penalties?(@match)
        - @match["goals"].each do |g|
          %p= goal_team?(g, @match["homeTeam"]["name"])
    %div.p-1
      %p.h2
        = image_tag "https://crests.football-data.org/#{@match["awayTeam"]["id"]}.svg", size: "60x60"
        = score_away(@match)
        %p.h5
          = "PENALTY" if penalties?(@match)
          = @match['score']['penalties']['awayTeam'] if penalties?(@match)
        - @match["goals"].each do |g|
          %p= goal_team?(g, @match["awayTeam"]["name"])
      
%div.container.mt-2
  %div.row.d-flex.justify-content-between
    = render 'member_card', match: @match['homeTeam']
    = render 'member_card', match: @match['awayTeam']
