// new rate button
%div.mt-2.text-right
  = link_to '評価する', new_rate_path(game_id: params[:id]), class: "btn" if match_finished?(@match['status'])
  
// score card
= render 'score_card', match: @match

// members   
%div.container.mt-2
  %div.row.d-flex.justify-content-between
    = render 'member_card', team: @match['homeTeam']
    = render 'member_card', team: @match['awayTeam']

// comment
%div.container.my-3
  = render 'comments/comments', comments: @comments
  = render 'comments/form', game: @game