<!--見出し-->
<div class="container">
  <div class="row justify-content-between">
    <h1><%= @title %></h1>
    <div class="mt-2">
      <% if same_user?(@game) %>
        <%= link_to '編集', edit_game_path(@game), class: "btn btn-outline-secondary" %>
        <%= link_to '削除', "/games/#{@game.id}", method: :delete, class: "btn btn-outline-danger", data: {confirm: "削除しますか？"} %>
      <% end %>
    </div>
  </div>
</div>

<!--試合情報-->
<%= render 'game_info', g: @game %>
  
<!--選手評価-->
<%= render 'player_rate', g: @game %>

<!--コメント表示-->
<%= render 'comments/comment' %>

<% if user_signed_in? %>
  <!--コメントフォーム-->
  <%= render 'comments/comment_form' %>
  <!--いいね機能-->
  <%= render 'likes/like' %>
<% end %>