<h1><%= @game.home_team %> vs <%= @game.away_team %></h1>

  <h2>試合情報</h2>
  
  <%= @game.date %>
  <%= @game.home_team %> <%= @game.home_score %> : <%= @game.away_score %> <%= @game.away_team %>
  <%= @game.game_text %>
  
  <% if @game.youtube_url %>
    <iframe class="video" src="https://www.youtube.com/embed/<%= @game.youtube_url.last(11) %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <% end %>
  
  <h2><%= @game.rate_team %>の選手評価</h2>
  
  <% @game.rates.each do |rate| %>
    <p><%= rate.position %> - <%= rate.player_name %></p>
    <p><%= rate.player_rate %></p>
    <p><%= rate.player_text %></p>
  <% end %>
  
  <!--コメン機能-->
  <h2>コメント一覧</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">名前</th>
          <th scope="col">コメント</th>
        </tr>
      </thead>
      <% @comments.each do |c| %>
      <tbody>
        <tr>
          <td><%= c.user.name %></td>
          <td><%= c.comment %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  <h2>コメントする</h2>
  <%= form_for [@game, @comment] do |f| %>
    <%= f.text_area :comment, size: "50x2", :placeholder => "最大100文字" %>
    <div>
      <%= f.submit 'コメントする', class: "btn btn-primary" %>
    </div>
  <% end %>
  <!--コメント機能終わり-->
  
  <h3>いいね件数: <%= @game.likes.count %></h3>
  <% if current_user.already_liked?(@game) %>
    <%= button_to 'いいねを取り消す', game_like_path(@game), method: :delete, class: "btn btn-success" %>
  <% else %>
    <%= button_to 'いいね', game_likes_path(@game), class: "btn btn-outline-success" %>
  <% end %>