%h1.text-center
  = image_tag "https://crests.football-data.org/#{@match["homeTeam"]["id"]}.svg", size: "60x60"
  = @match["homeTeam"]["name"]
  = @match['score']['fullTime']['homeTeam']
  = ":"
  = @match['score']['fullTime']['awayTeam']
  = @match["awayTeam"]["name"]
  = image_tag "https://crests.football-data.org/#{@match["awayTeam"]["id"]}.svg", size: "60x60"
  
%h2.text-center 得点者
%table.table
  %thead.thead-dark
    %tr.text-center
    %th 時間
    %th チーム
    %th 得点者
    %th　アシスト
  
  %tbody
    - @match["goals"].each do |g|
      %tr.text-center
        %td
          = g["minute"] 
          = "分"
        %td
          = image_tag "https://crests.football-data.org/#{g["team"]["id"]}.svg", size: "30x30"
        %td
          = g["scorer"]["name"]
        %td
          = g["assist"].present? ? g["assist"]["name"] : "なし"
   
%h2.text-center スタメン   
%table.table
  %thead.thead-dark
    %tr.text-center
      %th
        = @match["homeTeam"]["name"] 
        のスタメン
      %th
        = @match["awayTeam"]["name"]
        のスタメン

  %tbody
    - @match["homeTeam"]["lineup"].zip(@match["awayTeam"]["lineup"]).each do |h, a|
      %tr.text-center
        %td
          = h["shirtNumber"] 
          = h["position"]
          = h["name"]
        %td
          = a["shirtNumber"] 
          = a["position"]
          = a["name"]

%h2.text-center 交代
%table.table
  %thead.thead-dark
    %tr.text-center
    %th 時間
    %th チーム
    %th イン
    %th アウト
  
  %tbody
    - @match["substitutions"].each do |s|
      %tr.text-center
        %td
          = s["minute"] 
          = "分"
        %td
          = image_tag "https://crests.football-data.org/#{s["team"]["id"]}.svg", size: "30x30"
        %td
          = s["playerIn"]["name"]
        %td
          = s["playerOut"]["name"]


= link_to '投稿する', new_player_path(game_id: params[:id])
