%h1.text-center
  = image_tag "https://crests.football-data.org/#{@match["homeTeam"]["id"]}.svg", size: "60x60"
  = @match["homeTeam"]["name"]
  = @match['score']['fullTime']['homeTeam']
  = ":"
  = @match['score']['fullTime']['awayTeam']
  = @match["awayTeam"]["name"]
  = image_tag "https://crests.football-data.org/#{@match["awayTeam"]["id"]}.svg", size: "60x60"

%table.table
  %thead.thead-dark
    %th.text-center
      = @match["homeTeam"]["name"] 
      のスタメン
    %th.text-center
      = @match["awayTeam"]["name"]
      のスタメン

  %tbody
    - @match["homeTeam"]["lineup"].zip(@match["awayTeam"]["lineup"]).each do |h, a|
      %tr
        %td.text-center
          = h["shirtNumber"] 
          = h["position"]
          = h["name"]
        %td.text-center
          = a["shirtNumber"] 
          = a["position"]
          = a["name"]
          
= link_to '投稿をみる', rates_path(game_id: params[:id])
