<!--見出し-->
<div class="container">
  <div class="row justify-content-between">
    <h1><%= @title %></h1>
    <div class="mt-2">
      <%= render 'option' %>
    </div>
  </div>
</div>

<!--試合情報-->
<%= render 'game_info' %>
  
<!--選手評価-->
<%= render 'player_rate' %>

<!--コメント表示-->
<%= render 'show_comments' %>

<% if user_signed_in? %>
  <%= render 'comment_form' %>
  <%= render 'like' %>
<% end %>