%tr
  %td
    = f.number_field :shirtnumber, value: player["shirtNumber"]
  %td
    = f.text_field :position, value: player["position"]
  %td
    = f.text_field :name, value: player["name"]
  %td
    = f.number_field :player_rate, value: 6, min: 1, max: 10
  %td
    = f.text_field :rate_text
        
    = f.hidden_field :rate_id  
    
    = f.hidden_field :team_id, value: team_id