%h2
  = image_tag "https://crests.football-data.org/#{team["id"]}.svg", size: "30x30"
  = team["name"]
%div.container
  %div.row
    %div.col-1.mb-1
      背番号
    %div.col-2
      ポジション
    %div.col-2  
      選手名
    %div.col-1
      評価
    %div.col-6  
      感想
    - team["lineup"].each do |home|
      = form.fields_for :players do |f|
        = render 'field_form', {f: f, player: home, team_id: team["id"]}