%h1 編集
= form_with model: @players, url: player_path, method: :patch, local: true do |form|
  %div.container
    %div.row
      %div.col-1.mb-1
        背番号
      %div.col-2
        ポジション
      %div.col-2  
        選手名
      %div.col-1
        評価
      %div.col-6  
        感想
      - @players.each do |p|
        = form.fields_for :players do |f|
          %div.col-1.mb-2
            %div.form_group
              = f.number_field :shirtnumber, value: p.shirtnumber, class: "form-control"
          %div.col-2
            %div.form_group
              = f.text_field :position, value: p.position, class: "form-control"
          %div.col-2
            %div.form_group
              = f.text_field :name, value: p.name, class: "form-control"
          %div.col-1
            %div.form_group
              = f.number_field :player_rate, value: p.player_rate, min: 1, max: 10, class: "form-control"
          %div.col-6
            %div.form_group
              = f.text_field :rate_text, value: p.rate_text, class: "form-control"
        
            = f.hidden_field :rate_id, value: p.rate_id  
    
            = f.hidden_field :team_id, value: p.team_id
 
  = form.submit "編集する", class: "btn btn-primary"