= form_with model: @player, url: players_path, method: :post, local: true do |form|
  = render 'layouts/error_messages', model: form.object
  
  %h2 home
  %table
    %thread
      %tr
        %th 背番号
        %th ポジション
        %th 名前
        %th 点数
        %th 感想
    
    %tbody
      - @match["homeTeam"]["lineup"].each do |home|
        = form.fields_for :players do |f|
          = render 'field_form', {f: f, player: home}
  %h2 away            
  %table
    %thread
      %tr
        %th 背番号
        %th ポジション
        %th 名前
        %th 点数
        %th 感想
        
    %tbody
      - @match["awayTeam"]["lineup"].each do |away|
        = form.fields_for :players do |f|
          = render 'field_form', {f: f, player: away}
            
  = form.submit "登録"
