%div.row.d-flex.align-items-center.justify-content-center
  - rates.each do |r|
    %div.card.col-12.col-lg-5.border-dark.my-1.mx-1
      %div.card-header.text-center
        = link_to "#{r.user.name}の投稿", rate_path(r.id)    
        .small.text-center= "投稿日: #{r.created_at.strftime('%Y/%m/%d')}"
      %div.card-body
        %p.card-text.text-center
          = image_tag "https://crests.football-data.org/#{r.players.first.team_id}.svg", size: "30x30" if r.players.present?
          = r.home_team 
          %br
          vs
          %br
          = image_tag "https://crests.football-data.org/#{r.players.last.team_id}.svg", size: "30x30" if r.players.present?
          = r.away_team
   