%div.container
  %div.row.d-flex.align-items-center.justify-content-between
    %div.mx-2
      %h1= "#{@rate.user.name}の投稿"
    %div.mx-2
      = "投稿日: #{@rate.created_at.strftime('%Y/%m/%d')}"
      = link_to "削除", "/rates/#{@rate.id}", method: :delete, data: { confirm: "削除しますか？" } , class: "btn btn-outline-danger" if same_user?(@rate)

%table.table.mt-3
  %thead
    %tr
      %th{:width => "10%"}  チーム
      %th{:width => "10%"}  背番号
      %th{:width => "15%"}  ポジション
      %th{:width => "15%"}  名前
      %th{:width => "10%"}  点数
      %th{:width => "40%"}  コメント
        
  %tbody
    - @rate.players.each do |p|
      %tr
        %td= image_tag team_logo(p.team_id), size: "30x30"
        %td= p.shirtnumber
        %td= p.position
        %td= p.name
        %td= p.player_rate
        %td= p.rate_text.present? ? (p.rate_text) : ("なし")
  