%h1
  = @rate.user.name
  の投稿
= link_to "削除", "/rates/#{@rate.id}", method: :delete

%table.table
  %thead
    %tr
      %th 背番号
      %th ポジション
      %th 名前
      %th 点数
      %th 感想
        
  %tbody
    - @players.each do |p|
      %tr
        %td
          = p.shirtnumber
        %td
          = p.position
        %td
          = p.name
        %td
          = p.player_rate
        %td
          = p.rate_text
  