%nav.navbar.navbar-light.bg-light
  %a.moji{:href => "/"} FootRate
  
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %div#navbarNav.collapse.navbar-collapse
    %ul.navbar-nav.text-center
      %li= link_to "投稿一覧", rates_path, class: "nav-link"
      %li= link_to "ベスト11", best_XI_rates_path, class: "nav-link"
        
      - if user_signed_in?
        %li.nav-item= link_to "マイページ", "/users/#{current_user.id}", class: "nav-link"
        %li.nav-item= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link logout"
      - else
        %li.nav-item= link_to "ログイン", new_user_session_path, class: "nav-link midasi"
        %li.nav-item= link_to "新規作成", new_user_registration_path, class: "nav-link"


%div.my-3.text-center
  %a#navbarDropdownMenuLink.dropdown-toggle.btn.league{"aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    リーグを選択する
  %div.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
    = link_to "プレミアリーグ", league_games_path(code: "PL", year: "", day: matchday), class: "dropdown-item" 
    = link_to "ラ・リーガ", league_games_path(code: "PD", year: "", day: matchday), class: "dropdown-item" 
    = link_to "ブンデスリーガ", league_games_path(code: "BL1", year: "", day: matchday), class: "dropdown-item" 
    = link_to "セリエＡ", league_games_path(code: "SA", year: "", day: matchday), class: "dropdown-item" 
    = link_to "リーグ・アン", league_games_path(code: "FL1", year: "", day: matchday), class: "dropdown-item" 
    = link_to "チャンピオンズリーグ", cl_games_path(code: "CL", year: "", stage: "GROUP_STAGE", day: 1), class: "dropdown-item" 
    = link_to "ユーロ", euro_games_path(code: "EC", year: "", stage: "GROUP_STAGE", day: 1), class: "dropdown-item"         