<!DOCTYPE html>
<html>
  <head>
    <title>FootRate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!--ナビゲーションバー-->
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">FootRate</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <% if user_signed_in? %>    
                <%= link_to "評価する", new_game_path, class: "nav-item nav-link "%>
                <%= link_to "マイページ", "/users/#{current_user.id}", class: "nav-item nav-link" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
              <% else %>
                <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link" %>
                <%= link_to "新規作成", new_user_registration_path, class: "nav-item nav-link" %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>  
    </header>
    <!--ナビゲーションバー終了-->
    
    <%= yield %>
  </body>
</html>
