<!DOCTYPE html>
<html>
  <head>
    <title>FootRate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!--ナビゲーションバー-->
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">FootRate</a>
          <ul class="nav justify-content-end">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "評価する", new_game_path, class: "nav-link "%>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", "/users/#{current_user.id}", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規作成", new_user_registration_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>  
    </header>
    <!--ナビゲーションバー終了-->
    
    <!--メインコンテンツ-->
    <div class="container">
      <%= yield %>
    </div>
    <!--メインコンテンツ終わり-->
    
    <!--フッター-->
    <footer class="footer">
      <div class="container">
        <p class="text-muted">©2021 Ryota Nakamura</p>
      </div>
    </footer>
    <!--フッター終わり-->
    
  </body>
</html>
