!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title FootRate
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div.container
      %header
        %nav.navbar.navbar-expand-lg.navbar-light.bg-light
          %a.navbar-brand{:href => "/"} FootRate
          %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          %div#navbarNavDropdown.collapse.navbar-collapse
            %ul.navbar-nav
              %li.nav-item
                %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  コンペティション一覧
                %div.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
                  = link_to "プレミアリーグ", league_games_path(code: "PL", year: "", title: "プレミアリーグ", day: 1), class: "dropdown-item" 
                  = link_to "ラ・リーガ", league_games_path(code: "PD", year: "", title: "ラ・リーガ", day: 1), class: "dropdown-item" 
                  = link_to "ブンデスリーガ", league_games_path(code: "BL1", year: "", title: "ブンデスリーガ", day: 1), class: "dropdown-item" 
                  = link_to "セリエＡ", league_games_path(code: "SA", year: "", title: "セリエＡ", day: 1), class: "dropdown-item" 
                  = link_to "リーグ・アン", league_games_path(code: "FL1", year: "", title: "リーグ・アン", day: 1), class: "dropdown-item" 
                  = link_to "チャンピオンズリーグ", cl_games_path(code: "CL", year: "", title: "チャンピオンズリーグ", stage: "GROUP_STAGE", day: 1), class: "dropdown-item" 
                  = link_to "ユーロ", euro_games_path(code: "EC", year: "", title: "ユーロ2020", stage: "GROUP_STAGE", day: 1), class: "dropdown-item" 
              - if user_signed_in?
                %li.nav-item
                  = link_to "マイページ", "/users/#{current_user.id}", class: "nav-link"
                %li.nav-item
                  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"
              - else
                %li.nav-item
                  = link_to "ログイン", new_user_session_path, class: "nav-link"
                %li.nav-item
                  = link_to "新規作成", new_user_registration_path, class: "nav-link"
        
    / ナビゲーションバー終了
    / メインコンテンツ
    .container.mx-auto
      = yield
    / メインコンテンツ終わり
    / フッター
    %footer.footer
      .container
        %p.text-muted ©2021 Ryota Nakamura
    / フッター終わり
