<!DOCTYPE html>
<html>
  <head>
    <title>FootRate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!--ヘッダー-->
    <header>
      <a href="/">FootRate</a>
        <% if user_signed_in? %>  
          <ul>
            <li><%= link_to "評価する", new_game_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "マイページ", "/users/#{current_user.id}" %></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "新規作成", new_user_registration_path %></li>
          </ul>
        <% end %>
    </header>
    <!--ヘッダー終了-->
    
    <%= yield %>
  </body>
</html>
